{% extends 'layouts/enclosed.html.twig' %}

{% set layout_title = 'Add a project' %}
{% set icon = 'plus' %}

{% block layout_body %}
<div class="project">
    {% include 'fragments/project/form.html.twig' %}
</div>
{% endblock %}
