{% extends 'layout/default.html.twig' %}

{% block body %}
<section class="section">
    <div class="panel">
        <h3 class="panel-heading">
            Add project
        </h3>
        <div class="panel-block">
            {% include 'project/form.html.twig' %}
        </div>
    </div>
</section>
{% endblock %}
