{% extends 'page.html.twig' %}

{% block body %}
<div class="project">
    <header class="project-heading">
        <div class="columns">
            <div class="column">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-narrow">
                        <span class="icon is-inline-block is-size-3"><i class="far fa-plus-square"></i></span>
                    </div>
                    <div class="column is-narrow">
                        <h1 class="is-size-3">Add project</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="box">
        {% include 'fragments/project/form.html.twig' %}
    </div>
</div>
{% endblock %}
