{% extends 'page.html.twig' %}

{% block body %}
    {{ include('fragments/project/header.html.twig', { project: project } )}}

<div class="box">
    {% include 'fragments/project/form.html.twig' %}
</div>
{% endblock %}
