{% extends 'layout/default.html.twig' %}

{% block body %}
{% if 0 == favourites|length and 0 == projects|length %}
<section class="hero is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        No projects?
      </h1>
      <h2 class="subtitle">
        You don't have any projects yet - create one and then you can start deploying!
      </h2>
      <p><a class="button is-primary" href="{{ path_for('project.add') }}">Add a new project</a></p>
    </div>
  </div>
</section>
{% else %}
{% if 0 < favourites|length %}
<section class="section projects">
{{ include('fragments/projects.html.twig', { projects: favourites })}}
</section>
<div class="is-divider"></div>
{% endif %}
{% if 0 < projects|length %}
<section class="section projects">
{{ include('fragments/projects.html.twig', { projects: projects })}}
</section>
{% endif %}
{% endif %}
{% endblock %}
