// Custom settings

// Bulma overrides
$radius-small: 4px;
$radius: 4px;
$radius-large: 2px;

// Tabs
$tabs-border-bottom-color: rgb(175, 175, 175);
$tabs-boxed-link-hover-border-bottom-color: rgb(175, 175, 175);
$tabs-boxed-link-active-border-color: rgb(175, 175, 175);
$tabs-boxed-link-active-background-color: rgb(250, 250, 250);
$tabs-boxed-link-hover-background-color: rgb(220, 220, 220);

// Dividers
$divider-background-color: rgba(220,220,220,1);
$divider-thickness: 0.05rem;

// Notifications
$notification-radius: 2px;

$table-head-cell-border-width: 0 0 1px;
$table-foot-cell-border-width: 1px 0 0;

// Project / release settings
$status_colors: (
    'pending': rgba(100,100,100,1),
    'deploying': rgba(0,0,255,1),
    'deployed': rgba(0,175,0,1),
    'failed': rgba(255,0,0,1),
);
