.field {
    &.required label {
        position: relative;
    }
    &.required label:after {
        content: "Required";
        position: absolute;
        right: 0;
        color: $orange;
        font-weight: 400;
        font-size: 0.8rem;
    }
}
