.field {
    &.required label {
        position: relative;
    }
    &.required label:after {
        content: " (required)";
        margin-left: 0.25rem;
        color: $orange;
        font-weight: 400;
        font-size: 0.8rem;
    }
}
