.projects .project:hover {
    background-color: rgba(250,250,250,1);
    // cursor: pointer;
}
.project {
    &-heading {
        padding: 1rem 1.5rem;
    }

    &-heading + section.section {
        padding-top: 0;
    }
}
