<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Deploy{% endblock %}</title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block layout %}{% endblock %}
    </body>
</html>
