{% extends 'page.html.twig' %}

{% block body %}
<div class="Subhead">
    <h2 class="Subhead-heading">Edit Project : {{ project.name }}</h1>
</div>

{% include 'project/form.html.twig' %}

{% endblock %}
